.display-flex {
  display: flex;
  width: 900px;
  flex-wrap: wrap;
}

.display-flex .width-search {
  width: 300px;
  height: 30px;
}

.bg-title{
  background: #1AB7EA;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.title {
  color: #D9EDF7;
  text-align: center;

}
