<div class="col-md-8 m-auto card-body">
<p class="text-center h3 font-weight-bold card-header ">Đăng sản phẩm</p>
  <form class="w-75 mx-auto" [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group col-sm-12">
      <label>Tên sản phẩm :</label>
      <input type="text" id="productName" class="form-control" formControlName="productName">
    </div>
    <div class="form-group col-sm-12 d-flex">
      <label  for="idUser">ID người đăng :</label>
      <input class="form-control-lg col-md-4 m-auto" id="idUser" formControlName="userId"  type="text">
      <div class="col-md-2">
        <button type="button" class="btn btn-outline-secondary" (click)="loadUser()">Kiểm Tra</button>
      </div>
      <div class="col-md-2">
        <a (click)="clearDetail()"><i class="fa fa-refresh fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="form-group input-group-lg col-sm-12">
      <label  for="detailUser">Thông tin người đăng :</label>
      <textarea class="form-control col-md-8" id="detailUser" type="text"></textarea>
    </div>
    <div class="notice" role="alert"
         *ngIf="productForm.get('productName').invalid && productForm.get('productName').touched">
      Không được để trống
    </div>
    <br>
    <div class="form-group col-sm-12">
      <label>Chủng loại :</label>
      <mat-select class="form-control" formControlName="categoryId" required>
        <mat-option *ngFor="let category of categoryList" [value]="category.categoryId">
          {{category.categoryName}}
        </mat-option>
      </mat-select>
    </div>
    <br>
    <div class="notice" role="alert"
         *ngIf="productForm.get('categoryId').invalid && productForm.get('categoryId').touched">
      Không được để trống
    </div>
    <br>
    <div class="form-group col-sm-12">
      <label>Giá ban đầu :</label>
      <input class="form-control" type="text" formControlName="initialPrice">
    </div>
    <br>
    <div class="notice" role="alert"
         *ngIf="productForm.get('initialPrice').invalid && productForm.get('initialPrice').touched">
      Giá trị phải nhập là kiểu số
    </div>
    <br>
    <div class="form-group col-sm-12">
      <label>Mỗi lần tăng ít nhất :</label>
      <input class="form-control" type="text" formControlName="eachIncrease"><br>
    </div>
    <div class="notice" role="alert"
         *ngIf="productForm.get('eachIncrease').invalid && productForm.get('eachIncrease').touched">
      Giá trị phải nhập là kiểu số
    </div>
    <br>
    <div class="form-group col-sm-12">
      <label>Hình ảnh sản phẩm : <input id="files" type="file" multiple max="5" (change)='uploadFileImg($event)'
                                    accept="image/*"><br></label>
      <input id="nameImg" class="form-control" type="text" value="{{this.nameImg}}"  disabled><br>
    </div>
    <div class="form-group col-sm-12">
      <label>Thông tin chi tiết :</label>
      <textarea class="form-control" id="comment" formControlName="productDetail"></textarea><br>
    </div>
    <div class="notice" role="alert"
         *ngIf="productForm.get('productDetail').invalid && productForm.get('productDetail').touched">
      Không được để trống
    </div>
    <br>
    <div class="form-group col-sm-12">
      <label>Đấu giá trong thời gian :</label>
      <mat-select class="form-control " formControlName="timeId">
        <mat-option *ngFor="let time of auctionTimeList" [value]="time.timeId">
          {{time.moTa}}
        </mat-option>
      </mat-select>
    </div>
    <br>
    <div class="notice" role="alert"
         *ngIf="productForm.get('timeId').invalid && productForm.get('timeId').touched">
      Không được để trống
    </div>
    <div class="col-sm-12 d-flex justify-content-center mt-4">
      <input class="btn btn-success" type="submit" value="Đăng" (click)="uploadDbImg()"
             [disabled]="productForm.invalid">
    </div>
  </form>
</div>
  {{ productForm.value | json}}


