table thead  th,td{
  vertical-align: middle;
}
table {
  /*display: block;*/
  /*overflow-x: auto;*/
  white-space: nowrap;
}
h1{
  text-align: center;
}
th {
  text-align: center;
}
tr td{
  text-align: center;
}

.border{
  border: 1px solid black;
}

td{
  max-width: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
