<div class="container">
  <h1 class="text-info">Lịch sử đấu giá</h1>
  <table class="table table-bordered table-responsive-md text-center">
    <thead class="table thead-light">
    <tr>
      <th>#</th>
      <th>Số đơn hàng</th>
      <th>Tên sp</th>
      <th>Thông tin sản phẩm</th>
      <th>Giá đăng ký</th>
      <th>Ngày đăng ký</th>
      <th>Tình trạng</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bidder of listBidder |paginate: {
          id: 'listing_pagination',
          itemsPerPage: 10,
          currentPage: currentPage,
          totalItems: totalItem}, index as i">
      <th>{{i}}</th>
      <td>{{bidder.productId}}</td>
      <td>{{bidder.productName}}</td>
      <td>{{bidder.productDetail}}</td>
      <td>{{bidder.priceBidder}}</td>
      <td>{{bidder.dateBidder}}</td>
      <td>{{bidder.auctionStatus}}</td>
    </tr>
    </tbody>
  </table>
  <div>
    <div class="text-center text-warning pt-5 pl-5" *ngIf="listBidder.length === 0">Do not have any data</div>
  </div>
  <div>
    <pagination-controls *ngIf="listBidder.length > 10" id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</div>
<button id="control" data-toggle="modal" data-target="#exampleModal" hidden></button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Đăng nhập!</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="backToMenu()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="confirmBody">Bạn chưa đăng nhập? <a href="">Đăng nhập ngay</a></div>
      </div>
    </div>
  </div>
</div>
