<div id="forgot-form">-->
  <form class="m-auto" [formGroup]="recoverForm" (submit)="proceed()">
    <div class="card-header-pills d-flex align-content-center">
      <a type="button" id="back" class="btn border-0" (click)="loadModal(0)" ><i
        class="fa fa-arrow-circle-left fa-3x" style="color: #1AB7EA" aria-hidden="true"></i></a>
      <span id="headerModal" class="h3 font-italic font-weight-bold m-auto">Phục Hồi Mật Khẩu</span>
    </div>
    <hr>
    <div class="form-group">
      <input formControlName="username" autofocus type="text" id="username"
             class="form-control border-top-0 border-left-0 border-right-0 border-bottom border-secondary"
             placeholder="Tên Đăng Nhập">
    </div>
    <div class="form-group">
      <input formControlName="email" type="email" id="email"
             class="form-control border-top-0 border-left-0 border-right-0 border-bottom border-secondary"
             placeholder="Email Đã Đăng Ký">
    </div>
    <div class="modal-footer justify-content-center">
      <small id="emailHelp" class="form-text text-muted">Một email chứa mật khẩu mới sẽ được gửi đến địa chỉ email của
        bạn</small>
      <button type="submit" class="btn btn-primary">
        Xác Nhận
      </button>
    </div>
  </form>
</div>
