<div class="container-fluid p-0">
  <div class="row d-flex justify-content-around chil-main">
    <div class="col-md-8 border p-3 shadow">
      <h2>Thanh toán</h2>
      <div class="row d-flex justify-content-around p-3">
        <div class="col-md-4 p-3 border text-center bg-secondary text-light font-weight-bold">
          Địa chỉ thanh toán
        </div>
        <div class="col-md-4 p-3 border text-center chil-active">Hình thức giao hàng</div>
        <div class="col-md-4 p-3 border text-center bg-secondary text-light font-weight-bold">Tình trạng đơn hàng
        </div>
      </div>

      <div class="mt-3">
          <h4 class="text-center">CHỌN HÌNH THỨC GIAO HÀNG</h4>
          <div class="alert alert-danger" *ngIf="isShipMethodEmpty">
            Bạn phải chọn hình thức giao hàng !
          </div>
          <div class="form-check pl-0">
            <label class="form-check-label w-100">
              <div class="card bg-light text-dark mt-3 px-3">
                <div class="card-body">
                  <input type="radio" class="form-check-input" name="optradio" value="Giao hàng tiêu chuẩn" [(ngModel)]="shipMethod" (change)="checkMethodShip()">
                  Giao hàng tiêu chuẩn - Giao hàng tận nơi
                  <pre class="font-italic">Giao hàng toàn quốc từ {{ shipCost }}</pre>                  
                  <br>
                </div>
              </div>
            </label>
          </div>
          <div class="form-check pl-0">
            <label class="form-check-label w-100">
              <div class="card bg-light text-dark mt-3 px-3">
                <div class="card-body">
                  <input type="radio" class="form-check-input" name="optradio" value="Giao hàng tốc hành" [(ngModel)]="shipMethod" (change)="checkMethodShip()">
                  Giao hàng tốc hành - Không phải chờ đợi
                  <i class="fa fa-1x fa-truck" aria-hidden="true"></i>
                  <i class="fa fa-clock-o  pl-2" aria-hidden="true"></i>
                  <br>
                </div>
              </div>
            </label>
          </div>
      </div>

      <div class="mt-3">
        <form>
          <h4 class="text-center mt-5">BẠN MUỐN THANH TOÁN THEO CÁCH NÀO ?</h4>
          <div class="alert alert-danger" *ngIf="isPaymentMethodEmpty">
            Bạn phải chọn hình thức thanh toán !
          </div>
          <label class="form-check-label w-100">
            <div class="card bg-light text-dark mt-3 px-3">
              <div class="card-body">
                <input type="radio" class="form-check-input" name="optradio" value="Thanh toán trực tiếp" [(ngModel)]="paymentMethod" (change)="checkMethodPayment()">
                Thanh toán trực tiếp tại văn phòng
              </div>
            </div>
          </label>
          <hr>
          <div class="row d-flex justify-content-center chil-choose-bank">
            <div class="col-md-4">
              <div class="card bg-secondary text-dark">
                <div class="card-body">
                  <input type="radio" disabled>
                  <img
                    src="https://scontent.smarttourism.vn/resources/portal//Images/BDG/superadminportal.bdg/Tien%20ich/vcb_636966368969566050.jpg"
                    alt="vietcombank" class="pl-1">
                  Vietcobank
                  <span class="badge badge-danger font-italic">Bảo trì</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card bg-secondary text-dark">
                <div class="card-body">
                  <input type="radio" disabled>
                  <img
                    src="https://scontent.smarttourism.vn/resources/portal//Images/NTN/nguyenhaan/Ti%E1%BB%87n%20%C3%ADch/246x0w_636892088212276736.jpg"
                    alt="ViettinBank" class="pl-1">
                  ViettinBank
                  <span class="badge badge-danger font-italic">Bảo trì</span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card bg-secondary text-dark">
                <div class="card-body">
                  <!-- <input type="radio" name="optradio" value="Thanh toán bằng Paypal" [(ngModel)]="paymentMethod" (change)="checkMethodPayment()" disabled> -->
                  <!-- <input type="radio" name="optradio" disabled>
                  <img src="https://seeklogo.com/images/P/paypal-logo-C83095A82C-seeklogo.com.png">
                  Paypal
                  <span class="badge badge-danger font-italic">Bảo trì</span> -->

                  <div #paypal>

                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="mt-3">
        <div class="row d-flex justify-content-center mt-3">
          <div class="col-md-12">
            <div class="card text-primary chil-footer">
              <div class="card-body">
                <div class="float-left w-75">
                  <p>Giao hàng tiêu chuẩn - Giao hàng tận nơi</p>
                  <p>Trả trước với ATM/BankWire (Asia Commerecial Bank).</p>
                  <br>
                  <p>Chọn tiếp để xác nhận đơn hàng.</p>
                </div>
                <div class="float-right">
                  <button class="btn shadow" (click)="onSubmit()">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Tiếp theo
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-0">
      <div class="card text-white concept-color mb-3 shadow">
        <div class="card-header">
          <h5>Có câu hỏi?</h5>
          <span>Vui lòng liên hệ bộ phận hỗ trợ 24h của chúng tôi</span>
        </div>
        <div class="card-body bg-light text-black-50 border-0">
          <p class="card-text">SDT: (090) 3006938140</p>
        </div>
      </div>
      <div class="card text-white concept-color mb-3 shadow">
        <div class="card-header">
          <h5>Tổng kết đơn hàng</h5>
        </div>
        <div class="card-body bg-light text-black-50 border-0">
          <span class="float-left w-75 font-weight-bold">Giao hàng tiêu chuẩn - Giao hàng tận nơi</span>
          <span class="float-right font-weight-bold">{{ shipCost }}</span>
        </div>
        <div class="card-body bg-light text-black-50 border-0">
          <p class="card-text font-weight-bold">SDT: (090) 3006938140</p>
        </div>
        <div class="card-footer bg-light">
          <span class="text-danger font-weight-bold">Số tiền cần thanh toán: {{totalPrice}} </span>
        </div>
      </div>
    </div>
  </div>
</div>
{{shipMethod}}