<div class="container-fluid bg-light">
  <h4 class="pt-md-4">{{auction.productName}}</h4>
  <div class="row">
    <div class="col-md-3">
      <!-- Full-width images with number text -->
      <div class="mySlides">
        <img class="img-show" src="{{product.imageURL}}">
      </div>
      <div class="mySlides">
        <img class="img-show" src="{{product.imageURL}}">
      </div>
      <div class="mySlides">
        <img class="img-show" src="{{product.imageURL}}">
      </div>

<!--       Next and previous buttons-->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <!-- Image text -->
      <div class="caption-container">
        <p id="caption"></p>
      </div>
    </div>
    <div class="col-md-4 pl-4">
      <p>ID: {{auction.productId}}</p>
            <p *ngIf="product.displayTime != 0 ; else loggedOut">Thời gian:
              <span class="colorTime">{{product.displayTimeDetail}}</span>
            </p>
            <ng-template #loggedOut>
              <span class="colorTime m-0">Đã hết thời gian đấu giá</span>
            </ng-template>
      <p>Giá gốc: {{auction.initialPrice | currency: "VND":""}}</p>
      <p>Mỗi lần tăng ít nhất: {{auction.eachIncrease | currency: "VND":""}}</p>
      <div class="row">
        <div class="col-md-3 info-product pt-md-3">
          Giá đấu:
        </div>
        <div class="col-md-5 info-product px-0 align-content-center">

          <div class="price form-group d-flex text-center">
            <button id="tung" class=" border rounded-left pt-md-2 pl-md-2 pr-md-2 " (click)="minus()">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <input id="valueBidder" class="form-control" type="text"
                   value="{{valueNextBidder}}" formControlName="bidPrice" disabled>
            <button id="tung1" class="border rounded-right pt-md-2 pl-md-2 pr-md-2 " (click)="plus()">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="col-md-4 info-product">
          <br>
          <input class="btn btn-success" [disabled]="product.displayTime === 0" type="submit" value="Đấu giá" (click)="onSubmitBid()">
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <!--      phương-->
      <app-list-bidder [idAuction]="idAuction"></app-list-bidder>
    </div>
  </div>
  <hr>
  <h3>Hình ảnh</h3>
  <!-- Thumbnail images -->
  <div class="row">
    <div class="column">
      <img class="demo cursor" src="{{product.imageURL}}" onclick="currentSlide(1)">
    </div>
    <div class="column">
      <img class="demo cursor" src="{{product.imageURL}}" onclick="currentSlide(2)">
    </div>
    <div class="column">
      <img class="demo cursor" src="{{product.imageURL}}" onclick="currentSlide(3)">
    </div>
  </div>
  <hr>
  <h3>Thông tin chi tiết</h3>
  <ul>
    <p>{{product.productDetail}}</p>
  </ul>
  <hr>
  <h3>Thông tin nhận hàng</h3>
  <ul>
    <li>Địa chỉ nhận hàng: 114 Nguyễn Lương Bằng, Liên Chiểu, Đà Nẵng</li>
    <li>ĐT: 0898241303</li>
  </ul>
  <hr>
  <h3>Bình luận</h3>
  <div class="fb-login-button" data-size="medium" data-button-type="login_with" data-layout="default"
       data-auto-logout-link="false" data-use-continue-as="true" data-width="">
  </div>
  <div id="fb-root"></div>
  <div class="input-group pt-md-3 pb-md-5">
    <span class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Nhận xét</span>
  </div>
</div>

<!--Yêu cầu đăng nhập -->
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v8.0&appId=335828794167120&autoLogAppEvents=1"
        nonce="xQHz8pzZ"></script>

<!--IPA comment facebook-->
<script>
    // Kiểm tra trạng thái đăng nhập
    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    //Lấy trạng thái đăng nhập
    FB.getLoginStatus(function (response) {
        statusChangeCallback(response);
    })

    window.fbAsyncInit = function () {
        FB.init({
            appId: '{your-app-id}',
            cookie: true,
            xfbml: true,
            version: '{api-version}'
        });

        FB.AppEvents.logPageView();

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>



