<div class="card col-sm-4 p-0 custom">
  <div class="card-header">
    <span class="text-white card-title">Phục Hồi Mật Khẩu</span>
  </div>
  <div class="card-body text-center">
    <p class="mat-h4 font-weight-bold">
      Xin nhập lại mật khẩu mới của bạn
    </p>
    <hr>
    <form class="form-group" [formGroup]="passwordForm" (submit)="onSubmit()">
      <div class="row d-flex">
        <div class="col-sm-11">
          <input formControlName="password" type="password" class="form-control-lg border-top-0 border-left-0
         border-right-0 border-bottom border-secondary col-md-12 " id="inputPassword" placeholder="Mật Khẩu">
          <span
            *ngIf="passwordForm.controls['password'].hasError('required') && passwordForm.controls['password'].touched"
            class="errors mt-1 col-sm-12">
                Trường này không được để trống
              </span>
          <span
            *ngIf="passwordForm.controls['password'].hasError('maxlength') && passwordForm.controls['password'].touched"
            class="errors mt-1 col-sm-12">
                Độ dài không được vượt quá 16 ký tự.
              </span>
        </div>
        <div class="col-sm-1 p-0">
          <span style="color: red">*</span>
        </div>
      </div>
      <div class="row d-flex mt-3">
        <div class="col-sm-11">
          <input type="password" formControlName="confirm_password" class="form-control-lg border-top-0 border-left-0
         border-right-0 border-bottom border-secondary col-md-12 " id="inputRePassword" placeholder="Xác Nhận Mật Khẩu">
          <span
            *ngIf="passwordForm.hasError('mismatchedPasswords') && passwordForm.controls['confirm_password'].touched"
            class="errors mt-1 col-sm-12">
                Mật khẩu xác nhận phải trùng với mật khẩu đã nhập.
              </span>
        </div>
        <div class="col-sm-1 p-0">
          <span style="color: red">*</span>
        </div>
      </div>
      <hr>
      <div class=" justify-content-center">
        <button type="submit" class="btn btn-primary rounded-pill mt-2">Xác Nhận</button>
      </div>
    </form>
  </div>
</div>
