<div class="row border m-auto" style="width: 1000px">
  <div class="col-md-12 card-header">
    Khóa thành viên
  </div>
  <form [formGroup]="formLock" style="width: 100%">
    <div class="col-md-12 card-body">
      <div class="row mb-4 mt-3">
        <div class="col-md-1"></div>
        <div class="col-md-3 mt-1">Thời gian khóa <span class="text-danger">  *</span></div>
        <div class="col-md-6 mb-3">
          <div class="input-group">
          <input type="number" class="form-control" formControlName="timeLock" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">Ngày</span>
          </div>
          </div>
          <div *ngIf="(formLock.get('timeLock').hasError('required') || formLock.get('timeLock').hasError('min')) && formLock.get('timeLock').touched" class="list-inline mt-3 ml-2 text-danger">
            *Thời gian khóa không được để trống và phải là số nguyên dương!
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-1"></div>
        <div class="col-md-3">Bạn có thực sự muốn khóa<span class="text-danger">  *</span></div>
        <div class="col-md-6">
          <textarea readonly formControlName="listUser" class="form-control" type="text" rows="5"></textarea>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-1"></div>
        <div class="col-md-3">Lý do</div>
        <div class="col-md-6">
          <textarea name="d" class="form-control" type="text" rows="5"></textarea>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-4"></div>
        <div class="col-md-6">
          <button (click)="lockUser()" [disabled]="formLock.invalid" class="btn btn-outline-secondary">Khóa</button>
          <button (click)="close()" class="btn btn-outline-secondary">Hủy</button>
        </div>
      </div>
    </div>
  </form>
</div>

