<div id="login-form" class="modal-spl">
  <form class="pl-5 pr-5 pt-3">
    <div class="card-header-pills">
      <p class="font-weight-bold text-center">Đăng Nhập Hoặc Đăng Ký Tài Khoản Để Bắt Đầu Đấu Giá
      </p>
    </div>
    <div class="form-group">
      <input type="text" autofocus
             class="form-control  border-top-0 border-left-0 border-right-0 border-bottom border-secondary"
             id="inputUserName" aria-describedby="emailHelp" placeholder="Tên đăng nhập">
    </div>
    <div class="form-group">
      <input type="password"
             class="form-control border-top-0 border-left-0 border-right-0 border-bottom border-secondary"
             id="exampleInputPassword1" placeholder="Mật khẩu">
    </div>
    <div class="form-check d-flex">
      <input type="checkbox" class="form-check-input" id="rememberCheck">
      <label class="form-check-label" for="rememberCheck">Ghi Nhớ Tài Khoản</label>
      <a class="ml-auto" href="#">Quên Mật Khẩu?</a>
    </div>
  </form>
  <div class="modal-footer mt-2 justify-content-center border-top-0">
    <button type="submit" class="btn btn-primary rounded-pill">Đăng Nhập</button>
    <button id="signUp" type="button" class="btn btn-secondary rounded-pill">
      Đăng Ký
    </button>
  </div>
</div>
