<div class="col-sm-4 d-flex align-content-center m-auto custom">
  <div class="card col-sm-12 p-0">
    <div class="col-sm-12 text-center card-header">
      <p class="h3 font-weight-bold ">
        Phục Hồi Mật Khẩu
      </p>
      <small class="card-header-tabs">Xin nhập vào mã xác nhận để bắt đầu thực hiện </small><br>
      <small class="card-header-tabs">thay đổi mật khẩu</small>
    </div>
    <div class="col-sm-12 d-flex align-content-center justify-content-center card-body">
      <form class="form-group text-center" [formGroup]="confirmCodeForm" (submit)="onSubmit()">
        <div class="col-sm-12">
          <input formControlName="confirmCode" class="form-control-lg" [(ngModel)]="confirmCode" type="text"
                 placeholder="Mã xác nhận" maxlength="10">
          <p *ngIf="validated == false" class="mat-error mt-2">Mã Xác Nhận Sai. Bạn còn {{countInputLeft}} lần nhập.</p>
          <p
            *ngIf="confirmCodeForm.controls['confirmCode'].hasError('required') && confirmCodeForm.controls['confirmCode'].touched"
            class="mat-error mt-2">
            Không được để trống
          </p>
        </div>
        <div class="col-sm-12 mt-3">
          <button type="submit" class="btn btn-secondary rounded-pill">Xác Nhận</button>
        </div>
      </form>
    </div>
  </div>
</div>
