
<div class="container-fluid">
  <div class="row">
    <div class="help-common">
      <div class="title-help">
        Hướng dẫn cách đấu giá
      </div>
      <div class="content-help">
        <h1>Cách đấu giá</h1>
        <br>
        <p>
          Bài viết sau sẽ hướng dẫn bạn cách đấu giá trên trang web của tôi đầy đủ nhất. <br>
          Để có thể đấu giá trên trang web của chúng tôi, bạn cần truy cập vào website :
          <a href="">https://www.C0220H1.com.vn</a>
          <br>
          Bạn cần đăng nhập bằng tài khoản của mình. Nếu chưa có tài khoản, bạn cần đăng ký trong ô bên dưới:
        </p>

        <h4>Ô đăng ký <img src="../../../assets/img/icon/hand-point-right-regular.svg" width="16px" alt=""> <a href="">click
          vào đây để đăng ký tài khoản</a> <img src="../../../assets/img/icon/hand-point-left-regular.svg" width="16px"
                                                alt=""></h4>
        <br>
        <p>
          Tiếp theo, bạn có thể đấu giá cho bất kỳ mặt hàng nào bằng cách đơn giản nhập một giá thầu mà bạn
          sẵn sàng trả cho món hàng đó. Cần lưu ý rằng giá thầu tối thiểu được tự động liệt kê trong hệ thống
          đấu giá. Giá thầu của bạn ít nhất phải khớp với giá được liệt kê tối thiểu.
        </p>

        <p>Bạn có thể đặt giá thầu nhiều hơn nếu bạn sẵn sàng trả nhiều hơn cho mặt hàng. Khi bạn đặt giá thầu
          cao hơn giá thầu tối thiểu, hệ thống sẽ tự động đặt giá thầu cho bạn. Sau khi bạn nhấn vào Đấu giá
          ngay, nếu thời gian đếm lùi tới 0 mà không có ai trả giá cao hơn bạn, thì món hàng đó sẽ thuộc về
          bạn.</p>

        <p>Theo thuật toán mà C0220H1 đưa ra trên trang web của tôi: “Xin lưu ý rằng chúng tôi sẽ không bao
          giờ đặt giá thầu cao hơn giá thầu bạn đã đặt. Hệ thống của chúng tôi được thiết kế để tiết kiệm tiền
          cho bạn và cho bạn cơ hội tốt nhất để giành chiến thắng trong cuộc bán đấu giá ở mức giá thấp nhất
          có thể. Bằng cách này, bạn có thể quyết định mức giá tối đa mà bạn sẵn sàng trả cho một mặt hàng và
          vẫn có cơ hội thắng món hàng với mức giá thấp hơn giá thầu tối đa của bạn.”</p>

        <p>

        <h4>Một số điều cần lưu ý:</h4>

        - Bạn không thể tự xóa sản phẩm khỏi giỏ hàng của mình khi đã đấu giá thành công. Nếu bạn không muốn
        mua đơn hàng đó nữa thì còn một cách khác: Ngay sau khi đấu giá thành công, sản phẩm sẽ được thêm
        vào đơn hàng. Nếu trong 48 h tiếp theo, bạn không hoàn thành đơn hàng, thì hệ thống sẽ tự loại bỏ
        đơn hàng của bạn.
        <br>
        Hi vọng qua bài giúp đã giúp bạn đọc biết được cách đấu giá trên trang web để mua được sản phẩm mong
        muốn, hạn chế rủi ro.
        <p>


          <a [routerLink]="['']" ><img class="back" src="../../../assets/img/icon/arrow-circle-right-solid.svg" alt=""></a>
      </div>
    </div>

  </div>
</div>

