<div class="container font header-border">
  <!--    table title-->
  <div class="row header">
    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 p-2">
      Quản lí sản phẩm
    </div>
  </div>

  <!--    search area-->
  <div class="row">
    <div class="display-flex mt-2 ml-4">
      <div class="input-group input-group-sm mb-3 width-search">
        <div class="input-group-prepend">
          <span class="input-group-text">Tên sản phẩm</span>
        </div>
        <input id="productName" [(ngModel)]="nameProductKeySearch" (focusin)="isSuggest('productName', true)"
               (focusout)="isSuggest('productName', false)"
               (click)="suggestProductName(nameProductKeySearch)" (input)="suggestProductName(nameProductKeySearch)"
               class="border w-50" type="text"
               aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        <div class="input-group-prepend" style="opacity: 0">
          <span class="input-group-text">Tên sản phẩm</span>
        </div>
        <div *ngIf="isProductNameSuggest" class="bg-light z-index w-50">
          <span (click)="findEach(a, 'productName')" *ngFor="let a of arrProductNameSuggest | paginate: {
          currentPage: 1,
          itemsPerPage: countItemSuggest
          }" class="list-group-item">{{a}}</span>
        </div>
      </div>
      <div class="input-group input-group-sm mb-3 width-search">
        <div class="input-group-prepend">
          <span class="input-group-text">Loại sản phẩm</span>
        </div>
        <select id="type" (change)="findEach($event.target.value, 'categoryName')" class="" style="width: 50%"
                aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          <option value="">Tất cả</option>
          <option *ngFor="let category of categoryList"
                  value="{{category.categoryName}}">{{category.categoryName}}</option>
        </select>
      </div>
      <div class="input-group input-group-sm mb-3 width-search">
        <div class="input-group-prepend">
          <span class="input-group-text">Người đăng</span>
        </div>
        <input id="poster" [(ngModel)]="posterKeySearch" (click)="suggestPoster(posterKeySearch)"
               (focusin)="isSuggest('poster', true)" (focusout)="isSuggest('poster', false)"
               (input)="suggestPoster(posterKeySearch)"
               type="text" class="" style="width: 50%"
               aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        <div class="input-group-prepend" style="opacity: 0">
          <span class="input-group-text">Người đăng</span>
        </div>
        <div *ngIf="isPosterSuggest" class="bg-light z-index w-50">
          <span *ngFor="let a of arrPosterSuggest | paginate: {
          currentPage: 1,
          itemsPerPage: countItemSuggest
          }" (click)="findEach(a, 'poster')" class="list-group-item">{{a}}</span>
        </div>
      </div>
      <div class="input-group input-group-sm mb-3 width-search">
        <div class="input-group-prepend">
          <span class="input-group-text">Giá</span>
        </div>
        <select id="price" (change)="findEach($event.target.value, 'initialPrice')" type="text" class=""
                style="width: 50%" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          <option value="">Tất cả</option>
          <option value="price1">0 - 100k</option>
          <option value="price2">100k - 1000k</option>
          <option value="price3">trên 1000k</option>
        </select>
      </div>
      <div class="input-group input-group-sm mb-3 width-search">
        <div class="input-group-prepend">
          <span class="input-group-text">Tình trạng</span>
        </div>
        <select id="status" (change)="findEach($event.target.value, 'statusName')" type="text" class=""
                style="width: 50%" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          <option value="">Tất cả</option>
          <option *ngFor="let status of statusList" value="{{status.statusName}}">{{status.statusName}}</option>
        </select>
      </div>
      <button (click)="search()" type="button" style="width: 13%" class="btn btn-info btn-sm width-search">Lọc kết quả
      </button>
      <button (click)="cancel()" type="button" style="width: 13%"
              class="btn btn-outline-danger btn-sm width-search ml-2 text">Hủy kết quả
      </button>
    </div>
  </div>


  <div class="row">
    <div class="col-12 p-0 m-0">
      <table class="table table-bordered table-responsive-md text-center">
        <thead class="header">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Chọn</th>
          <th scope="col">ID sản phẩm</th>
          <th scope="col">Tên sản phẩm</th>
          <th scope="col">Chủng loại</th>
          <th scope="col">Người đăng</th>
          <th scope="col">Giá ban đầu</th>
          <th scope="col">Trạng thái duyệt</th>
          <th scope="col">Tình trạng</th>
          <th scope="col">Chi tiết sản phẩm</th>
          <th scope="col">Hình ảnh</th>
          <th scope="col">Sửa</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of productListShow | paginate: {
          id: 'listing_pagination',
          itemsPerPage: 8,
          currentPage: currentPage,
          totalItems: totalItem}; index as i">
          <th scope="col">{{i + 1}}</th>
          <td>
            <label>
              <input type="checkbox" (click)="chooseToDelete(product.productId)">
            </label>
          </td>
          <td>{{product.productId}}</td>
          <td>{{product.productName}}</td>
          <td>{{product.categoryName}}</td>
          <td>{{product.fullName}}</td>
          <td>{{product.initialPrice}}</td>
          <td>{{product.statusName}}</td>
          <td>{{product.statusName}}</td>
          <td>{{product.productDetail}}</td>
          <td><img src="{{product.image}}" alt="{{product.productName}}"></td>
          <td><a href="#">Sửa</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-4 col-sm-6">
      <button [disabled]="listProductsDelete.length === 0" data-toggle="modal" data-target="#exampleModal" id="import"
              class="btn btn-outline-info">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Xóa
      </button>
      <button class="btn btn-outline-info ml-2">
        <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
        Thêm mới
      </button>
    </div>
    <div class="col-md-6 col-sm-6 text-center">
      <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Thông báo xóa</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="confirmBody">bạn có chắc muốn xóa sản phẩm id là: {{listProductsDelete.toString()}}?</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="deleteProducts()" class="btn btn-primary" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>

