<div id="create" class="container-fluid">
  <h2 class="text-center">Đăng sản phẩm</h2>
  <form class="w-75 mx-auto" [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <p>Tên sản phẩm :</p>
      <input type="text" class="form-control" formControlName="productName">
    </div>
    <div class="notice" role="alert"
         *ngIf="productForm.get('productName').invalid && productForm.get('productName').touched">
      Không được để trống
    </div>
    <br>
    <div>
      <p>Chủng loại :</p>
      <select class="form-control" formControlName="categoryId" required>
        <option *ngFor="let category of categoryList" [value]="category.categoryId">
          {{category.categoryName}}
        </option>
      </select>
    </div>
    <br>
    <div class="notice" role="alert"
         *ngIf="productForm.get('categoryId').invalid && productForm.get('categoryId').touched">
      Không được để trống
    </div>
    <br>
    <div>
      <p>Giá ban đầu :</p>
      <input class="form-control" type="text" formControlName="initialPrice">
    </div>
    <br>
    <div class="notice" role="alert"
         *ngIf="productForm.get('initialPrice').invalid && productForm.get('initialPrice').touched">
      Giá trị phải nhập là kiểu số
    </div>
    <br>
    <div>
      <p>Mỗi lần tăng ít nhất :</p>
      <input class="form-control" type="text" formControlName="eachIncrease"><br>
    </div>
    <div class="notice" role="alert"
         *ngIf="productForm.get('eachIncrease').invalid && productForm.get('eachIncrease').touched">
      Giá trị phải nhập là kiểu số
    </div>
    <br>
    <div>
      <p>Hình ảnh sản phẩm : <input id="files" type="file" multiple max="5" (change)='uploadFileImg($event)'
                                    accept="image/*"><br></p>
      <input id="nameImg" class="form-control" type="text" value="{{this.nameImg}}"  disabled><br>
    </div>
    <div>
      <p>Thông tin chi tiết :</p>
      <textarea class="form-control" id="comment" formControlName="productDetail"></textarea><br>
    </div>
    <div class="notice" role="alert"
         *ngIf="productForm.get('productDetail').invalid && productForm.get('productDetail').touched">
      Không được để trống
    </div>
    <br>
    <div>
      <p>Đấu giá trong thời gian :</p>
      <select class="form-control" formControlName="timeId">
        <option *ngFor="let time of auctionTimeList" [value]="time.timeId">
          {{time.moTa}}
        </option>
      </select>
    </div>
    <br>
    <div class="notice" role="alert"
         *ngIf="productForm.get('timeId').invalid && productForm.get('timeId').touched">
      Không được để trống
    </div>
    <div class="row d-flex justify-content-center mt-4">
      <input class="btn btn-success" type="submit" value="Đăng" (click)="uploadDbImg()"
             [disabled]="productForm.invalid">
    </div>
  </form>
<!--  {{ productForm.value | json}}-->

</div>
