<div class="container">
  <h3 class="text-center">Đăng sản phẩm</h3>
  <form class="w-75 mx-auto" [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <p>Tên sản phẩm :</p>
      <input type="text" class="form-control" formControlName="productName">
    </div>
    <div>
      <p>Chủng loại :</p>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let category of categoryList" [value]="category.categoryId">
          {{category.categoryName}}
        </mat-option>
      </mat-select>
      <br>
    </div>
    <div>
      <p>Giá ban đầu :</p>
      <input class="form-control" type="text" formControlName="initialPrice">
    </div>
    <div>
      <p>Mỗi lần tăng ít nhất :</p>
      <input class="form-control" type="text" formControlName="eachIncrease"><br>
    </div>
    <div>
      <p>Hình ảnh sản phẩm :  <input  id="files" type="file" multiple  max="5" onChange='getNameImg()'><br></p>
      <!--        accept="image/*"-->
      <input id="nameImg" class="form-control" type="text" disabled><br>
    </div>
    <div>
      <p>Thông tin chi tiết :</p>
      <textarea class="form-control" id="comment" formControlName="productDetail"></textarea><br>
    </div>
    <div>
      <p>Đấu giá trong thời gian :</p>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let time of auctionTimeList" [value]="time.timeId">
          {{time.auctionTime}}
        </mat-option>
      </mat-select><br>
    </div>
    <div class="row d-flex justify-content-center mt-4">
      <input class="btn btn-success" type="submit" value="Đăng">
    </div>
  </form>
  {{ productForm.value | json}}

</div>
