#nav, .modal-header, .dropdown-menu {
  background-color: #1AB7EA;

}

.dropdown-menu{
  color: white;
}

.nav-item, #back :hover {
  cursor: pointer;
}

#back {
  color: #1AB7EA;
}

#modal-title {
  font-size: 24px;
}


.card-header {
  background-color: #1AB7EA;
}

#avatar {
  height: 2rem;
  width: 2rem;
}
