
<div class="container-fluid">
<app-nav-bar [modal] = "modal" ></app-nav-bar>
</div>

<router-outlet></router-outlet>
<!--<app-product-manage></app-product-manage>-->
<div class="container-fluid">
  <div id="nav" class="row">
    <nav class="col-md-12 navbar navbar-expand-lg">
      <div class="col-md-4 d-flex justify-content-center">
        <div class="logo">
          <a class="navbar-brand text-white font-weight-bold font-italic" href="#">Bidding</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="col-md-8 collapse navbar-collapse d-flex align-content-center justify-content-end">
        <!--                <div class="row">-->
        <div class="nav-item mt-auto mb-auto">
          <a class="nav-link text-white" href="#"><i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i>My
            Cart</a>
        </div>
        <div class="nav-item mt-auto mb-auto">
          <a class="nav-link text-white" href="#"><i class="fa fa-gavel mr-2" aria-hidden="true"></i>My
            Auctions</a>
        </div>
        <div id="signIn" class="nav-item mt-auto mb-auto mr-5">
          <a class="nav-link text-white" data-toggle="modal"
             data-target="#login"><i class="fa fa-lock mr-2"
                                     aria-hidden="true"></i>
            Sign In</a>
        </div>
        <div class="modal" id="login" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-white font-italic font-weight-bold">Bidding</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <app-auth-login></app-auth-login>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<app-home></app-home>

