<div class="info-product-common mt-2 ">
  <div *ngFor="let productDisplayList of productList1" class="borderStyle">
    <a href="https://www.youtube.com/">
      <div class="img-product"><img src="{{productDisplayList.imageURL}}" alt=""></div>
      <div class="black-bg-product"></div>
      <img class="eye" src="../../../assets/img/icon/right-arrow.svg" alt="">
      <div class="content-product">
        <p class="title-product">{{productDisplayList.productName}}</p>
        <p class="title-product-info">Click vào để xem chi tiết sản phẩm !</p>
        <div class="auction">
          <div class="time">
            <div *ngIf="productDisplayList.auctionTime != 0; else loggedOut">
              <span>{{productDisplayList.auctionTime / 3600 | number: '1.0-0'}}</span>:
              <span>{{productDisplayList.auctionTime / 60 | number: '1.0-0'}}</span>:
              <span>{{productDisplayList.auctionTime % 60}}</span>
            </div>
            <ng-template #loggedOut>
              ending...
            </ng-template>
          </div>
          <span class="prince"><i class="fa fa-gavel"></i>{{productDisplayList.eachIncrease}}</span>
        </div>
      </div>
    </a>
  </div>
</div>
