<div class="info-product-common mt-2 ">
  <div *ngFor="let productDisplayList of auctionList1 | paginate: {itemsPerPage: 20, currentPage: curpage }" class="borderStyle">
    <a [routerLink]="['/product-details/', productDisplayList.auctionId]">
      <div class="img-product"><img src="{{productDisplayList.imageURL}}" alt=""></div>
      <div class="black-bg-product"></div>
      <img class="eye" src="../../../assets/img/icon/right-arrow.svg" alt="">
      <div class="content-product">
        <p class="title-product">{{productDisplayList.productName}}</p>
        <p class="title-product-info">Click vào để xem chi tiết sản phẩm !</p>
        <div class="auction">
          <div class="time">
            <div *ngIf="productDisplayList.auctionTime != 0; else loggedOut">
              <span>{{productDisplayList.displayTime}}</span>
            </div>
            <ng-template #loggedOut>
              ending...
            </ng-template>
          </div>
          <span class="prince"><i class="fa fa-gavel">&nbsp;&nbsp;</i>{{productDisplayList.eachIncrease | currency: "VND":""}}</span>
        </div>
      </div>
    </a>
  </div>
</div>
<pagination-controls  (pageChange)="curpage = $event"></pagination-controls>
