<div class="col-md-8 m-auto card-body">
  <p class="text-center h3 font-weight-bold card-header ">Cập nhật thông tin sản phẩm</p>
  <form class="w-75 mx-auto" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group col-sm-12">
      <label>Tên sản phẩm :</label>
      <input type="text" id="productName" class="form-control" formControlName="productName">
    </div>
    <div class="form-group col-sm-12 d-flex">
      <label  for="idUser">ID người đăng :</label>
      <input class="form-control-lg col-md-4 m-auto" id="idUser" formControlName="userId"  type="text">
      <div class="col-md-2">
        <button type="button" class="btn btn-outline-secondary" (click)="loadUser()">Kiểm Tra</button>
      </div>
      <div class="col-md-2">
        <a (click)="clearDetail()"><i class="fa fa-refresh fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="form-group input-group-lg col-sm-12">
      <label  for="detailUser">Thông tin người đăng :</label>
      <textarea class="form-control col-md-8" id="detailUser" type="text"></textarea>
    </div>
    <div class="notice" role="alert"
         *ngIf="editForm.get('productName').invalid && editForm.get('productName').touched">
      Không được để trống
    </div>
    <br>
    <div class="form-group col-sm-12">
      <label>Chủng loại :</label>
      <mat-select class="form-control" formControlName="categoryId" required>
        <mat-option *ngFor="let category of categoryList" [value]="category.categoryId">
          {{category.categoryName}}
        </mat-option>
      </mat-select>
    </div>
    <br>
    <div class="notice" role="alert"
         *ngIf="editForm.get('categoryId').invalid && editForm.get('categoryId').touched">
      Không được để trống
    </div>
    <br>
    <div class="form-group col-sm-12">
      <label>Giá ban đầu :</label>
      <input class="form-control" type="text" formControlName="initialPrice">
    </div>
    <br>
    <div class="notice" role="alert"
         *ngIf="editForm.get('initialPrice').invalid && editForm.get('initialPrice').touched">
      Giá trị phải nhập là kiểu số
    </div>
    <br>
    <div class="form-group col-sm-12">
      <label>Mỗi lần tăng ít nhất :</label>
      <input class="form-control" type="text" formControlName="eachIncrease"><br>
    </div>
    <div class="notice" role="alert"
         *ngIf="editForm.get('eachIncrease').invalid && editForm.get('eachIncrease').touched">
      Giá trị phải nhập là kiểu số
    </div>
    <br>
    <div class="form-group col-sm-12">
      <label>Hình ảnh sản phẩm : <input #file id="files" type="file" multiple max="5" (change)='uploadFileImg(file.files)'
                                        accept="image/*"><br></label>
      <input  id="nameImg" class="form-control" type="text" value="{{this.nameImg}}"  disabled><br>
    </div>
    <div *ngIf="imageList.length != 0" class="form-group col-sm-12" >
      <div class="row d-inline-block" *ngFor="let img of imageList; index as i">
        <div class="col-sm-4 content-img">
          <img [src]="img.imageURL" class="image card-img" alt="img">
          <div class="overlay">
            <a class="icon">
              <i class="fa fa-trash" (click)="removeImg(i)" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <label>Thông tin chi tiết :</label>
      <textarea class="form-control" id="comment" formControlName="productDetail"></textarea><br>
    </div>
    <div class="notice" role="alert"
         *ngIf="editForm.get('productDetail').invalid && editForm.get('productDetail').touched">
      Không được để trống
    </div>
    <br>
    <div class="form-group col-sm-12">
      <label>Đấu giá trong thời gian :</label>
      <mat-select class="form-control " formControlName="timeId">
        <mat-option *ngFor="let time of auctionTimeList" [value]="time.timeId">
          {{time.moTa}}
        </mat-option>
      </mat-select>
    </div>
    <br>
    <div class="notice" role="alert"
         *ngIf="editForm.get('timeId').invalid && editForm.get('timeId').touched">
      Không được để trống
    </div>
    <div class="col-sm-12 d-flex justify-content-center mt-4">
      <input class="btn btn-success" type="submit" value="Cập Nhật" (click)="uploadDbImg()"
             [disabled]="editForm.invalid">
    </div>
  </form>
</div>



