<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../../assets/img/slide/1.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../../assets/img/slide/7.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src=".../../../assets/img/slide/2.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-fluid position-sticky-test">
  <div class="row">
    <div class="col-md-12 p-0 m-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <ul class="nav nav-pills">
          <li class="dropdown">
            <a href="#" class="test" style="text-decoration: none ; color: #5a6268"> <span
              class="navbar-toggler-icon "></span>Danh mục sản phẩm </a>
            <ul class="dropdown-menu" id="menu1">
              <li>
                <a href="#"><img src="../../../assets/img/icon/smartphone.svg" alt="" width="20px"> Điện thoại - máy
                  tính bảng <i class="icon-arrow-right"></i></a>
                <ul class="dropdown-menu sub-menu">

                  <li class="divider"></li>
                  <li class="nav-header" style="font-weight: bold">Xu hướng</li>
                  <li><a href="#">Samsung Galaxy S20</a></li>
                  <li><a href="#">Samsung Galaxy A5</a></li>
                  <li><a href="#">Macbook pro</a></li>
                  <li><a href="#">Vsmart Active 3</a></li>
                  <li><a href="#">Realme 3 pro</a></li>
                  <li><a href="#">Oppo a9</a></li>
                  <li class="nav-header">Nổi bật</li>
                  <li><a href="#">Oppo 31</a></li>
                  <li><a href="#">Oppo A12</a></li>
                  <li><a href="#">Oppo Reno3</a></li>
                  <li><a href="#">Vsmart joy 3</a></li>
                  <li><a href="#">Vivo y15</a></li>
                  <li><a href="#">Vivo y12</a></li>
                </ul>
              </li>

              <li>
                <a href="#"><img src="../../../assets/img/icon/tv-solid.svg" width="20px" alt=""> Điện tử - điện
                  lạnh<i class="icon-arrow-right"></i></a>
                <ul class="dropdown-menu sub-menu">
                  <li class="nav-header" style="font-weight: bold">Tivi</li>
                  <li><a href="#">Tivi bán chạy</a></li>
                  <li><a href="#">Tivi mới 2020</a></li>
                  <li><a href="#">Tivi cao cấp</a></li>
                  <li><a href="#">Smart tivi</a></li>
                  <li><a href="#">Internet tivi</a></li>
                  <li><a href="#">Tivi 4k</a></li>
                  <li><a href="#">Tivi Oled</a></li>
                  <li class="divider"></li>
                  <li class="nav-header" style="font-weight: bold">Máy điều hòa</li>
                  <li><a href="#">Máy lạnh bán chạy</a></li>
                  <li><a href="#">Máy lạnh mới</a></li>
                  <li><a href="#">Máy lạnh Inverter</a></li>
                  <li class="divider"></li>
                  <li class="nav-header" style="font-weight: bold">Máy giặc</li>
                  <li><a href="#"></a>Máy giặc bán chạy</li>
                  <li><a href="#"></a>Máy sáy quần áo</li>
                  <li><a href="#"></a>Máy giặc Inverter</li>
                </ul>
              </li>

              <li>
                <a href="#"><img src="../../../assets/img/icon/headphones-alt-solid.svg" width="20px" alt=""> Phụ
                  kiện - thiết bị số <i class="icon-arrow-right"></i></a>
                <ul class="dropdown-menu sub-menu">
                  <li class="nav-header" style="font-weight: bold">Thiết bị âm thanh</li>
                  <li class="nav-header" style="font-weight: bold">Tất cả tai nghe</li>
                  <li><a href="#">Tai nghe nhét tai</a></li>
                  <li><a href="#">Tai nghe chụp tai</a></li>
                  <li><a href="#">Tai nghe bluetooth đàm thoại</a></li>
                  <li><a href="#">Tai nghe nhạc buletooth</a></li>
                  <li><a href="#">Tai nghe nhạc buletooth thể thao</a></li>


                  <li class="divider"></li>
                  <li class="nav-header" style="font-weight: bold">Tất cả Loa</li>
                  <li><a href="#">Loa vi tính</a></li>
                  <li><a href="#">Loa Bluetooth</a></li>
                  <li><a href="#">Loa kéo</a></li>
                  <li><a href="#">Máy nghe nhạc - máy ghi âm</a></li>
                  <li><a href="#">Phụ kiện âm thanh</a></li>
                  <li><a href="#">Soundbar</a></li>
                </ul>
              </li>

              <li>
                <a href="#"><img src="../../../assets/img/icon/laptop.svg" width="20px" alt=""> Laptop - thiết bị IT<i
                  class="icon-arrow-right"></i></a>
                <ul class="dropdown-menu sub-menu">
                  <li class="nav-header" style="font-weight: bold">Dịch vụ và bảo hành</li>
                  <li><a href="#">Trả góp 0%</a></li>
                  <li><a href="#">Chính hãng 100%</a></li>
                  <li><a href="#">Bảo hành tận nhà</a></li>
                  <li><a href="#"></a>Đổ trả tận nhà</li>
                  <li class="divider"></li>
                  <li class="nav-header" style="font-weight: bold">Laptop theo giá</li>
                  <li><a href="#">Dưới 8 triệu</a></li>
                  <li><a href="#">Từ 8 - 10 triệu</a></li>
                  <li><a href="#">Từ 10 -15 triệu</a></li>
                  <li><a href="#">Từ 15 -20 triệu</a></li>
                  <li><a href="#">Trên 20 triệu</a></li>
                  <li><a href="#"></a></li>
                  <li><a href="#"></a></li>
                  <li class="divider"></li>
                  <li class="nav-header" style="font-weight: bold">Laptop theo core</li>
                  <li><a href="#">intel Core i3</a></li>
                  <li><a href="#">intel Core i5</a></li>
                  <li><a href="#">intel Core i7</a></li>
                  <li><a href="#"></a></li>
                </ul>
              </li>

              <li>
                <a href="#"> <img src="../../../assets/img/icon/camera.svg" width="20px" alt=""> Máy ảnh - quay phim<i
                  class="icon-arrow-right"></i></a>
                <ul class="dropdown-menu sub-menu">
                  <li class="nav-header" style="font-weight: bold">Top bán chạy trong tháng</li>
                  <li><a href="#">Top máy ảnh DSLR bán chạy</a></li>
                  <li><a href="#">Top máy ảnh Mirrorless bán chạy</a></li>
                  <li><a href="#">Top ống kính bán chạy</a></li>
                  <li><a href="#">Top phụ kiện máy ảnh bán chạy</a></li>


                  <li class="divider"></li>
                  <li class="nav-header" style="font-weight: bold">Sản phẩm nổi bật</li>
                  <li><a href="#">Máy ảnh Canon 750D + Lens 18-55 IS STM</a></li>
                  <li><a href="#">Máy Ảnh Canon M10 KIT 15-45mm</a></li>
                  <li><a href="#">Máy Ảnh Sony Alpha A6000 + 16-50mm</a></li>
                  <li><a href="#">Máy Ảnh Canon EOS M50 + Kit 15-45mm</a></li>
                  <li><a href="#">Lens Canon 50mm f/1.8 STM</a></li>
                  <li><a href="#">Máy Ảnh Fujifilm X-T20 (24.3MP) + Lens 18-55mm</a></li>


                  <li class="divider"></li>
                  <li class="nav-header" style="font-weight: bold">Sản phẩm nổi bật</li>
                  <li><a href="">Máy Ảnh- Máy Quay Phim</a></li>
                  <li><a href="">Máy Ảnh Mirrorless</a></li>
                  <li><a href="">Máy Ảnh DSLR</a></li>
                  <li><a href="">Máy Ảnh Du Lịch</a></li>
                  <li><a href="">Máy Ảnh Chụp Lấy Liền</a></li>
                  <li><a href="">Máy Quay Phim Sony</a></li>
                  <li><a href="">Máy Quay Phim Canon</a></li>

                </ul>
              </li>

              <li>
                <a href="#"><img src="../../../assets/img/icon/washing-machine.svg" width="20px " alt=""> Điện gia
                  dụng<i class="icon-arrow-right"></i></a>
                <ul class="dropdown-menu sub-menu">
                  <li class="nav-header" style="font-weight: bold"> Top Thương hiệu</li>
                  <li><a href="#">Philips</a></li>
                  <li><a href="#">Lock&Lock</a></li>
                  <li><a href="#">Bluestone</a></li>
                  <li><a href="#">Kangaroo</a></li>
                  <li><a href="#">Sunhouse</a></li>
                  <li><a href="#">Sharp</a></li>
                  <li><a href="#">Panasonic</a></li>
                  <li><a href="#">Electrolux</a></li>
                  <li><a href="">Delonghi</a></li>
                  <li><a href="">Comet</a></li>
                  <li><a href="">Nagakawa</a></li>
                  <li><a href="">Thương hiệu mới</a></li>
                  <li><a href=""> Hafele</a></li>
                  <li><a href=""> Ariete</a></li>
                  <li><a href=""></a></li>

                </ul>
              </li>

              <li>
                <a href="#"><img src="../../../assets/img/icon/cooker.svg" width="20px" alt=""> Nhà cửa - đời sống<i
                  class="icon-arrow-right"></i></a>
                <ul class="dropdown-menu sub-menu">
                  <li class="nav-header" style="font-weight: bold">Đồ dùng gia đình</li>
                  <li><a href="#">Dụng cụ nấu ăn</a></li>
                  <li><a href="#">Cà men, hộp đựng cơm</a></li>
                  <li><a href="#">Hộp đựng thực phẩm</a></li>
                  <li><a href="#">Kệ nhà bếp</a></li>
                  <li><a href="#">Dao và phụ kiện</a></li>
                  <li><a href="#">Bình nước, bình giữ nhiệt</a></li>
                  <li><a href="#">Bộ bình ly</a></li>
                  <li><a href="#">Bộ bình trà</a></li>
                  <li><a href="#">Ly, cốc</a></li>
                  <li><a href="#">Tô chén đĩa</a></li>
                  <li><a href="#">Đồ dùng phòng ngủ</a></li>
                  <li><a href="#">Ga giường, drap</a></li>
                  <li><a href="#">Nệm</a></li>
                  <li><a href="#">Nội thất</a></li>
                  <li><a href="#">Tủ quần áo</a></li>
                  <li><a href="#">Đèn & thiết bị chiếu sáng</a></li>
                  <li><a href="#">Đèn bàn</a></li>
                  <li><a href="#">Bóng đèn</a></li>
                  <li><a href="#">Ổ cắm điện</a></li>
                  <li><a href="#">Dụng cụ vệ sinh</a></li>
                  <li><a href="#">Thiết bị phòng tắm</a></li>

                </ul>
              </li>

              <li>
                <a href="#"><img src="../../../assets/img/icon/fish-bone.svg" width="20px" alt="">Hàng tiêu dùng -
                  thực phẩm<i class="icon-arrow-right"></i></a>
                <ul class="dropdown-menu sub-menu">
                  <li class="nav-header" style="font-weight: bold">THỰC PHẨM</li>
                  <li><a href="#">Dầu ăn</a></li>
                  <li><a href="#">Đồ hộp</a></li>
                  <li><a href="#">Gia vị</a></li>
                  <li><a href="#">Thực phẩm ăn liền</a></li>
                  <li><a href="#">Thực phẩm chay</a></li>
                  <li><a href="#">Nấu ăn & Làm bánh</a></li>
                  <li><a href="#">Thực phẩm chế biến</a></li>

                  <li class="nav-header" style="font-weight: bold">BÁNH KẸO</li>
                  <li><a href="#">Bánh</a></li>
                  <li><a href="#">Kẹo</a></li>
                  <li><a href="#">Socola</a></li>

                  <li class="nav-header" style="font-weight: bold">ĐỒ UỐNG - GIẢI KHÁT</li>
                  <li><a href="#">Bia</a></li>
                  <li><a href="#">Đồ uống có gas</a></li>

                </ul>
              </li>

              <li>
                <a href="#"><img src="../../../assets/img/icon/clock.svg" width="20px" alt=""> Đồ chơi - mẹ và bé<i
                  class="icon-arrow-right"></i></a>
                <ul class="dropdown-menu sub-menu">
                  <li class="nav-header" style="font-weight: bold">ĐỒ CHƠI</li>
                  <li><a href="#">Lắp ghép, xếp hình</a></li>
                  <li><a href="#">Đồ chơi giáo dục</a></li>
                  <li><a href="#">Đồ chơi gỗ</a></li>
                  <li><a href="#">Đồ chơi mô hình</a></li>
                  <li><a href="#">Búp bê, Thú bông</a></li>
                  <li><a href="#">Đồ chơi vận động</a></li>
                  <li><a href="#">Đồ chơi sơ sinh</a></li>
                  <li><a href="#">Boardgame</a></li>
                  <li><a href="#">Lều, thảm chơi cho bé</a></li>
                </ul>
              </li>

              <li>
                <a href="#"><img src="../../../assets/img/icon/cosmetic.svg" width="20px" alt=""> Làm đẹp - sức khỏe
                  <i class="icon-arrow-right"></i></a>
                <ul class="dropdown-menu sub-menu">
                  <li class="nav-header" style="font-weight: bold"> Chăm sóc da mặt</li>
                  <li><a href="#"> Sữa rửa mặt</a></li>
                  <li><a href="#"> Nước hoa hồng</a></li>
                  <li><a href="#"> Serum & kem dưỡng</a></li>
                  <li><a href="#">Dưỡng ẩm</a></li>
                  <li><a href="#">Dưỡng trắng</a></li>
                  <li><a href="#">Mặt nạ</a></li>
                  <li><a href="#"> Chống nắng</a></li>
                  <li><a href="#">Chăm sóc cơ thể</a></li>
                  <li><a href="#">Sữa tắm</a></li>
                  <li><a href="#"> Dưỡng thể</a></li>
                  <li><a href="#"> Khử mùi</a></li>
                  <li><a href="#">Chăm sóc tóc</a></li>
                  <li><a href="#">Dầu gội - Dầu xả</a></li>
                  <li><a href="#">Dưỡng tóc - Ủ tóc</a></li>
                  <li><a href="#"> Chăm sóc cá nhân</a></li>
                  <li><a href="#">Chăm sóc răng miệng</a></li>
                  <li><a href="#">Dược mỹ phẩm</a></li>
                  <li><a href="#">Sản phẩm thiên thiên</a></li>
                  <li><a href="#"> Thiết bị làm đẹp</a></li>
                  <li><a href="#"> Bộ sản phẩm làm đẹp</a></li>
                  <li><a href="#"> Nước hoa</a></li>

                </ul>
              </li>


            </ul>
          </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a [routerLink]="['list-auction']" class="nav-link" href="#">Phiên đấu giá</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Đã kết thúc</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Kết quả </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Top đấu giá</a>
            </li>


            <li class="nav-item dropdown">
              <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                Mức giá
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Thấp -> Cao</a>
                <a class="dropdown-item" href="#">Cao -> Thấp</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Giảm giá nhiều</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/auction-guide']">Hướng dẫn</a>
            </li>

          </ul>
          <!--              <form class="form-inline my-2 my-lg-0">-->
          <!--                <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm sản phẩm"-->
          <!--                       aria-label="Tìm kiếm">-->
          <!--              </form>-->
        </div>
      </nav>
    </div>
  </div>
</div>
<!--Nơi sản phẩm-->
<router-outlet></router-outlet>


<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 margin-auto">
      <img style="margin: auto" src="../../../assets/img/common/footer.png" alt="">
    </div>
  </div>
</div>
