<div class="container-fluid p-0 m-0">
  <!--  anh Tùng-->
  <app-carousel></app-carousel>
  <!--  -->
  <div class="position-sticky-test p-0 m-0">
    <div class="row">
      <div class="col-md-12 p-0 m-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
          <ul class="nav nav-pills">
            <li class="dropdown">
              <a class="test" style="text-decoration: none ; color: #5a6268"><span
                class="navbar-toggler-icon "></span>
              </a>
              <ul class="dropdown-menu" style="width: auto">
                <li class="li-size pr-5 pb-1" (click)="searchByCategory('')">Tất cả</li>
                <li class="li-size pr-5 pb-1" *ngFor="let category of listCategory" (click)="searchByCategory(category.categoryName)">{{category.categoryName}}</li>
              </ul>
            </li>
          </ul>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <li class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

              <li class="nav-item col-2">
                <a class="nav-link" (click)="findTopUser()">Top user</a>
              </li>

              <li class="nav-item dropdown  col-2">
                <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  Mức giá
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" (click)="shortAuctionByPrice(0)">Thấp -> Cao</a>
                  <a class="dropdown-item" (click)="shortAuctionByPrice(1)">Cao -> Thấp</a>
                </div>
              </li>

              <li class="nav-item col-3">
                <a class="nav-link" [routerLink]="['/auction-guide']">Hướng dẫn</a>
              </li>
              <li class="nav-item col-3">
                <a class="nav-link" [routerLink]="['/product-create']">Đăng sản phẩm</a>
              </li>

              <li class="nav-item col-4">
                <input class="form-control mr-sm-2 my-2 my-lg-0" [(ngModel)]="keyWordProductAuction" type="search"
                       placeholder="Tìm kiếm sản phẩm"
                       aria-label="Tìm kiếm" (change)="search()" >
              </li>
            </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--Nơi sản phẩm-->


  <div class="info-product-common mt-2 ">
    <div *ngFor="let productDisplayList of auctionList1 | paginate: {itemsPerPage: 20, currentPage: curpage }"
         class="borderStyle">
      <a [routerLink]="['/product-details/', productDisplayList.auctionId]">
        <div class="img-product"><img src="{{productDisplayList.imageURL}}" alt=""></div>
        <div class="black-bg-product"></div>
        <img class="eye" src="../../../assets/img/icon/right-arrow.svg" alt="">
        <div class="content-product">
          <p class="title-product">{{productDisplayList.productName}}</p>
          <p class="title-product-info">Click vào để xem chi tiết sản phẩm !</p>
          <div class="auction">
            <div class="time">
              <div *ngIf="productDisplayList.auctionTime != 0; else loggedOut">
                <span>{{productDisplayList.displayTime}}</span>
              </div>
              <ng-template #loggedOut>
                ending...
              </ng-template>
            </div>
            <span class="prince"><i
              class="fa fa-gavel">&nbsp;&nbsp;</i>{{productDisplayList.initialPrice | currency: "VND":""}}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <pagination-controls (pageChange)="curpage = $event"></pagination-controls>


  <hr>

  <!--  anh Tùng-->
  <app-footer></app-footer>
  <!--  -->

 
</div>

<button id="topU" data-toggle="modal" data-target="#exampleModal" hidden></button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-warning" id="exampleModalLabel">
          Top user
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="confirmBody">
          <table class="table">
            <tr class="bg-dark text-white">
              <th>#</th>
              <th>Tên</th>
              <td>Điểm</td>
            </tr>
            <tr *ngFor="let user of listUser, index as i">
              <th>{{i + 1}}</th>
              <td>{{user.username}}</td>
              <td>{{user.point}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
