<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-bordered table-striped mb-0 ">
    <thead class="thead-light">
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Số tiền</th>
      <th scope="col">Thời gian đấu giá</th>
      <th scope="col">Thành viên</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>190.000</td>
      <td>10:00 23/9/2020</td>
      <td>Tùng</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>180.000</td>
      <td>9:00 23/9/2020</td>
      <td>Quân</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>170.000</td>
      <td>8:00 23/9/2020</td>
      <td>Thiện</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>160.000</td>
      <td>7:00 23/9/2020</td>
      <td>Hùng</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>150.000</td>
      <td>6:00 23/9/2020</td>
      <td>Phương</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>140.000</td>
      <td>5:00 23/9/2020</td>
      <td>Long</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>130.000</td>
      <td>4:00 23/9/2020</td>
      <td>Khánh</td>
    </tr>
    </tbody>
  </table>
</div>
