<div class="container-fluid border mt-2">
  <h1 class="text-info">Lịch sử đăng ký đấu giá</h1>
  <table class="table table-bordered table-responsive-md text-center">
    <thead class="table thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID sản phẩm</th>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">Thông tin sản phẩm</th>
      <th scope="col">Ngày đăng ký</th>
      <th scope="col">Tình trạng</th>
      <th scope="col">Đăng bán</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of productList | paginate: {
          id: 'listing_pagination',
          itemsPerPage: 10,
          currentPage: currentPage,
          totalItems: totalItem}, index as i ">
      <th scope="col">{{i + 1}}</th>
      <td>{{product.productId}}</td>
      <td>{{product.productName}}</td>
      <td>{{product.productDetail}}</td>
      <td>{{product.datePost}}</td>
      <td>{{product.statusName}}</td>
      <td><button *ngIf="product.statusName === 'Chưa đăng'" (click)="postProduct(product.productId)" class="text-success">đăng bán</button>
        <span *ngIf="product.statusName !== 'Chưa đăng'" class="text-success">đã đăng bán</span>
      </td>
    </tr>
    </tbody>
  </table>
  <div>
    <div class="text-center text-warning pt-5 pl-5" *ngIf="productList.length === 0">Do not have any data</div>
  </div>
  <div>
    <pagination-controls *ngIf="productList.length > 10" id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</div>
<button id="control" data-toggle="modal" data-target="#exampleModal" hidden></button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Đăng nhập!</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="backToMenu()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="confirmBody">Bạn chưa đăng nhập? <a href="">Đăng nhập ngay</a></div>
      </div>
    </div>
  </div>
</div>

