<div class="container-fluid pt-4 custom-footer d-flex justify-content-center p-0 m-0">
<!---->
  <div class="col-md-3">
    <h3 class="title mb-4 pl-md-5">C0220H1 - CODE GYM</h3>
    <img class="logo-company"
         src="https://images.squarespace-cdn.com/content/v1/56b8dfcf62cd94ec072ddb33/1547134322115-TKQN4NJZILFDO4QZPK1D/ke17ZwdGBToddI8pDm48kKlpVKiEURsX431SqXz8nxBZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpzVE_KPDWd5nuuyA2GuVyRzFpGKFhPO_p49iyD9f3TqR2SihW5_e2KtoMig5lJZCBA/Mean+Stack.png"
         alt="logo.jpg">
  </div>
<!---->
  <div class="col-md-2">
    <h3 class="title mb-4">PRODUCT OWNER</h3>
    <ul>
      <li>Trần Thị Tố Tâm</li>
    </ul>
    <h3 class="title mb-4">SCRUM MASTER</h3>
    <ul>
      <li>Đặng Chí Trung</li>
    </ul>
  </div>
<!---->
  <div class="col-md-3">
    <h3 class="title mb-4">SCRUM TEAM</h3>
    <ul>
      <li>Dương Trần Bảo Long</li>
      <li>Phạm Anh Thiện</li>
      <li>Lê Thanh Tùng</li>
      <li>Võ Ngọc Quân</li>
      <li>Đỗ Quốc Khánh</li>
      <li>Đậu Tuấn Phương</li>
      <li>Đặng Ngọc Minh Châu</li>
    </ul>
  </div>
<!--  -->
  <div class="col-md-4">
    <h3 class="title mb-4 pl-md-3">HELP & CONTACT</h3>
    <a href="https://github.com/BaolongDNH01/Project_Front_End" target="_blank" rel="noopener noreferrer"
       class="pl-4 icon-github icon-contact">
      <i class="fa fa-3x fa-github" aria-hidden="true"></i>
    </a>
    <a href="https://www.facebook.com/thanhtungpdt/" target="_blank" rel="noopener noreferrer"
       class="pl-4 icon-facebook icon-contact">
      <i class="fa fa-3x fa-facebook-square" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/in/l%C3%AA-thanh-t%C3%B9ng-652302118/" target="_blank" rel="noopener noreferrer"
       class="pl-4 icon-linked icon-contact">
      <i class="fa fa-3x fa-linkedin-square" aria-hidden="true"></i>
    </a>
    <a href="https://www.instagram.com/thanhtungpdt/?hl=vi" target="_blank" rel="noopener noreferrer"
       class="pl-4 icon-twitter icon-contact">
      <i class="fa fa-3x fa-twitter-square" aria-hidden="true"></i>
    </a>
    <a href="https://www.instagram.com/thanhtungpdt/?hl=vi" target="_blank" rel="noopener noreferrer"
       class="pl-4 icon-instagram icon-contact">
      <i class="fa fa-3x fa-instagram" aria-hidden="true"></i>
    </a>
  </div>
</div>
